@font-face {
    font-family: 'futurista';
    src: url('/play.ttf') format('truetype');
  }

.nav-ctn {
    display: flex;
    flex-direction: row;
    width: 50vh;
    align-items: center;
    position: fixed;
    top: 0;
    gap: 1em;
    background-color: #aa4108;
    color: #101f32;
}

.nav-ctn img {
    width: 20%;
    height: 20%;
}

.nav-ctn span {
    width: 60%;
    font-size: 0.7em;
    font-family: 'futurista';
    height: 50px;
    line-height: 50px;
}